# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=3
INTERFACE_BRANDING=AntOS Bootloader

# The entry name that will be displayed in the boot menu.
:AntOS (KASLR on)
    # We use the Limine boot protocol.
    PROTOCOL=limine

    # Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
    KERNEL_PATH=boot:///ANT001.ELF
    KERNEL_CMDLINE=relocatable

    MODULE_PATH=boot:///INIT.SYS
    MODULE_CMDLINE=preservecontent
    MODULE_PATH=boot:///LOGO.SYS
    MODULE_CMDLINE=preservecontent,islogo


# Same thing, but without KASLR.
:AntOS (KASLR off)
    PROTOCOL=limine

    # Disable KASLR (it is enabled by default for relocatable kernels)
    KASLR=no

    KERNEL_PATH=boot:///ANT001.ELF
